# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Env files
.env
.env.*

# Logs
*.log
*.err.log
*.out.log

# OS
.DS_Store

# Build artifacts
build/

# Large datasets / docs not needed for deployment
data set/
documentation/
project instructions/



